/**************************/
/* BELOW 1100PX (Laptops) */
/**************************/
@media (max-width: 69em) {
	
	/******************/
	/*  REUSABLE      */
	/******************/
	.section-container{
		padding: 6rem 1.875rem;
	}
	.section-container h1{
		font-size: 2.5rem;
	}

	/******************/
	/*    NAVIGATION  */
	/******************/
	.header {
		height: 6rem;
	}

	.hamburger {
		position: relative;
		z-index: 99;
		display: flex;
		width: 2rem;
		height: 2rem;
		align-items: center;
		justify-items: center;
		cursor: pointer;
	  }

	.main-nav {
		background-color: rgba(255, 255, 255, 0.9);
		-webkit-backdrop-filter: blur(10px);
		backdrop-filter: blur(5px);
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		transform: translateX(100%);

		display: flex;
		justify-content: center;
		align-items: center;

		/* animation from this site --> https://easings.net/#easeInOutQuint */
		transition: all 0.5s cubic-bezier(0.83, 0, 0.17, 1);

		/* Hide navigation */
		/* Allows NO transitions at all! */
		/* display: none; */

		/* 1) Hide it visually */
		opacity: 0;

		/* 2) Make it unaccessible to mouse and keyboard */
		pointer-events: none;

		/* 3) Hide it from screen readers */
		visibility: hidden;
	}
	.main-nav-link:link, .main-nav-link:visited{
		-webkit-text-fill-color: unset;
		background-image: unset;
		background-size: unset;
		background-position: unset;
	}
	.nav-open .main-nav {
		opacity: 1;
		pointer-events: auto;
		visibility: visible;
		transform: translateX(0%);
	}
	.nav-open .icon-mobile-nav[name="menu-outline"] {
		display: none;
	}

	.nav-open .icon-mobile-nav[name="close-outline"] {
		display: block;
	}

	.main-nav-list {
		flex-direction: column;
		justify-content: center;
		gap: 4.8rem;
	}

	.main-nav-link:link,
	.main-nav-link:visited {
		font-size: 1.6rem;
		color: var(--dark);
	}

	/******************/
	/*  HERO SECTION  */
	/******************/
	.hero-text h1 {
		font-size: 3rem;
	}

	/*******************/
	/* CONTACT SECTION */
	/*******************/
	.section-contact .container {
		grid-template-columns: 1fr;
		max-width: 70rem;
	}

	.contact-img {
		grid-row: 1;
		width: 100%;
	}
}

/*******************************/
/*     BELOW 944px (Tablets)   */
/*******************************/
@media (max-width: 59em) {
	/*****************/
	/* HERO SECTION  */
	/*****************/
	.hero-text h1 {
		font-size: 3rem;
	}

	/*****************/
	/*    REUSABLE   */
	/*****************/
	.header-secondary {
		font-size: 3.6rem;
	}

	/***********************/
	/*  SECTION ABOUT US   */
	/***********************/
	.about-us-grid{
		grid-template-columns: 1fr 1fr;
	}

	/* centering title of the section */
	.container--big .hidden {
		text-align: center;
	}

	.about-container--reverse .about-text {
		grid-row: 2;
	}

	/*****************/
	/* OFFER SECTION */
	/*****************/
	.section-offer .container--big {
		grid-template-columns: 1fr 1fr;
	}
}

/*******************************/
/*     BELOW 900px (Tablets)   */
/*******************************/
@media (max-width: 60em) {
	.section-grid{
		grid-template-columns: auto;
		text-align: center;
		gap: 30px;
	}
	.section-grid.reverse .section-grid-top{
		grid-row: 1;
	}
}

/*******************************/
/*     BELOW 800px (Tablets)   */
/*******************************/
@media (max-width: 50em) {
	/*****************/
	/* HERO SECTION  */
	/*****************/
	.section-hero {
		display: flex;
		justify-content: center;
    	align-items: center;
	}

	.hero-text h1 {
		margin-top: 10rem;
	}
	.meet-the-team-grid{
		grid-template-columns: auto;
		gap: 3rem;
		margin-top: 20px;
	}
}

/*************************************/
/*     BELOW 600px (Small Tablets)   */
/*************************************/
@media (max-width: 37.5em) {
	/*****************/
	/* HERO SECTION  */
	/*****************/
	.hero-text h1 {
		font-size: 2.5rem;
	}

	.hero-text a:link,
	.hero-text a:visited {
		font-size: 2rem;
	}

	/***********************/
	/*       REUSABLE      */
	/***********************/
	.header-secondary {
		font-size: 3rem;
	}


	/***********************/
	/*   VIDEO SECTION     */
	/***********************/
	.yt-video {
		width: 44rem;
		height: 30rem;
	}

	/***********************/
	/*  SECTION ABOUT US   */
	/***********************/
	.about-us-grid{
		grid-template-columns: auto;
	}

	/*******************/
	/* CONTACT SECTION */
	/*******************/
	.contact-info-grid{
		grid-template-columns: auto;
		gap: 3rem;
		padding-top: 3rem;
	}

	/**********/
	/* FOOTER */
	/**********/
	footer {
		grid-template-columns: auto;
		justify-items: center;
	}
}

/*************************************/
/*   BELOW 510px (Big Smartphones)   */
/*************************************/
@media (max-width: 34em) {
	/***********************/
	/*  SECTION ABOUT US   */
	/***********************/
	.about-img {
		width: 100%;
	}

	/***********************/
	/*    HERO SECTION     */
	/***********************/
	.section-hero {
		background-position-x: 10%;
	}

	/***********************/
	/*  SECTION ABOUT US   */
	/***********************/
	.section-about .container--big {
		padding: 0 2.4rem;
	}

	.about-img {
		width: 100%;
	}

	/*****************/
	/* OFFER SECTION */
	/*****************/
	.section-offer .container--big {
		padding: 0 4.8rem;
	}

	.section-offer {
		padding: 0;
	}
}

/***********************************/
/*     BELOW 450px (Smartphones)   */
/***********************************/
@media (max-width: 28.125em) {
	/***********************/
	/*   VIDEO SECTION     */
	/***********************/
	.yt-video {
		width: 40rem;
		height: 30rem;
	}
}

/***********************************/
/*     BELOW 400px (Smartphones)   */
/***********************************/
@media (max-width: 25em) {
	.hero-text a:link,
	.hero-text a:visited {
		font-size: 1.8rem;
	}

	/***********************/
	/*   VIDEO SECTION     */
	/***********************/
	.yt-video {
		width: 30rem;
		height: 20rem;
	}

	/***********************/
	/*  SECTION ABOUT US   */
	/***********************/
	.section-about .container--big {
		padding: 0 2.4rem;
	}

	.about-container {
		padding: 0;
	}

	.about-img {
		width: 100%;
	}

	/*****************/
	/* OFFER SECTION */
	/*****************/
	.section-offer .container--big {
		padding: 0 2.4rem;
	}

	.section-offer {
		padding: 0;
	}

	/*******************/
	/* CONTACT SECTION */
	/*******************/
	.section-contact .container:nth-child(2) {
		padding: 3.2rem;
	}

	/* realizacje.html */
	.section-realizations .container--big {
		padding: 0 1.2rem;
	}
}
